REDIS_ADDR=redis:6379
LOG_DIR=/logs
WS_ADDR=:8080
NODE_NAME=local
STREAM_NAME=parsel:logs
DATABASE_URL=postgres://parsel:parsel@postgres:5432/parsel
WEBHOOK_URL=https://discord.com/api/webhooks/xxxxxx/yyyyyy